/*header*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    display: flex;
    background-color:  #333333;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;

}

.nav-title {
    flex: 4;
    color: #FFFF;
    margin: 10px;
}

.nav-links {
    display: flex;
    align-items:center;
}

/*diseño*/

ul {
    list-style-type: none;
}

li {
    padding-left:20px;
}

a {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
    font-size: bold;
}

.btn {
    background-color: #5A96EA;
    color:antiquewhite;
    padding: 2px;
    border-color: black;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
}

.btn:hover {
    background-color: #3b639b; 
}
/*header*/

#container {
    margin: 50px;
    
}

/*tarjeta*/

a {
    color: #5a96ea; 
}

/* imagenes */
.icon {
    height: 80px;
    width: 80px;
}

.marcador {
    height: 20px;
    width: 20px;
}

.icono {
    background-color: #FFFF;
    border-radius: 90px;
    padding: 2px;
    height: 80px;
    width: 80px;
}
/* bases */
.flex{
    display: flex;
    height: 450px;
    width: 60%;
    box-shadow:0px 0px 10px black;
}

.targeta {
    background-color: #17a2b8;
    height: 200px;
    width: 100%;
    
}
.texto {
    height: 250px;
    width: 100%;
    background-color: #FFFF;
    
}

/*conocidos-en linae-education*/
#cuerpo-extras {
    height: 300px;
    width: 400px;
}

#cabe-extras{
    height: 300px;
    background-color: #ffff;
    box-shadow:0px 0px 10px black;
}

#body-extras{
    height: 60px;
    background-color: #333333;
}


.img{

    
}